*{
    margin:0;
    padding:0;
    text-align: center;

}

h1{
    background-color: #081b31;
    color:white;
    height: 5rem;
    text-align: center;

}
.choice{
    height:165px;
   width:165px;
   border-radius:50%;
   display: flex;
   justify-content:center;
   align-items: center;
  
}

.choice:hover{
    
    cursor:pointer;
    background-color: #081b31;
}
img{
    height: 150px;
    width:150px;
    object-fit: cover;
    border-radius: 50%;
}

.game{
    display: flex;
    justify-content: center;
      align-items: center;
    gap:4rem;
    margin-top: 5rem;
}

.scoreboard{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    font-size: 2rem;

    gap: 5rem;
    margin-bottom: 2rem;
}


#user-score, #comp-score{
font-size: 4rem;;
}

#msg{
    background-color: #081b31;
    color: white;
    font-size: 2rem;
     display:inline;   
    padding:1rem;
   border-radius: 1rem;
   border: 3px solid deeppink;
}


